From: <Saved by Blink>
Snapshot-Content-Location: http://127.0.0.1:8000/templates/upload.html
Subject: 
Date: Mon, 12 May 2025 18:11:51 +0530
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--dnRMEnk9JNkChWfAdMObyuS8LWsJ6iJ2kLYXpr0fLE----"


------MultipartBoundary--dnRMEnk9JNkChWfAdMObyuS8LWsJ6iJ2kLYXpr0fLE----
Content-Type: text/html
Content-ID: <frame-BF883DF9CABCD81BDF64796054C1F929@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: http://127.0.0.1:8000/templates/upload.html

<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"></head><body>{% extends 'layout.html' %} {% block content %}

<h2>Upload Excel File</h2>  
<form method="post" enctype="multipart/form-data">  
  <input type="file" name="file" accept=".xlsx" required="">  
  <button type="submit">Upload</button>  
</form>  
{% endblock %}  
</body></html>
------MultipartBoundary--dnRMEnk9JNkChWfAdMObyuS8LWsJ6iJ2kLYXpr0fLE------
